body{
	font-family: 'Poppins', sans-serif;
}

*{
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
a {
	text-decoration: none;
}

header {
	background-color: #f6f6f6;
	padding: 22px 0;
}

.header-container{
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.header-container a{
	color: #000;
	font-size: 16px;
	padding: 27px 6px;
	margin-right: 63px;
}

.header-container a:hover{
	background: #ffea00;
}

#menu-checkbox {
	display: none;
}

ul {
	display: flex;
}

nav {
	margin-top: 20px;
}

.top-slide {
	background: url(img/slider_bg.jpg);
	background-repeat: no-repeat;
	padding-bottom: 280px;
}

.top-container {
	width: 85%;
	margin: 0 auto;
	padding-top: 120px;
}

.top-slide h2{
	text-transform: uppercase;
	background-color: #ffea00;
	display: inline;
	font-size: 70px;
	padding: 0 13px;
	font-weight: 400;
}
.top-slide :nth-child(2) {
	margin-bottom: 10px;
}
.top-slide p {
	background: #414146;
	display: inline;
	font-size: 24px;
	color: #fff;
	padding: 0 5px;
}

.specialize-container {
	width: 85%;
	margin: 0 auto;
	text-align: center;
}

.specialize-container h3{
	font-size: 35px;	
	text-transform: uppercase;
}

.specialize-container p{
	margin-top: 20px;
	font-size: 24px;

}

.specialize-cards {
	display: flex;
	justify-content: space-between;
	margin-bottom: 90px;
	margin-top: 60px;
	-ms-align-items: center;
	align-items: center;
	margin-left: 20px;
}

.card{
	flex-basis: 300px;
}

.top-card{
	margin: 0;
	background-color: #ffea00;
	width: 250px;
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	}
.top-card p{

}

.top-card .icon{
	padding-top: 30px ;

} 

.bottom-card {
	background-color: #414146;
	width: 250px;
	height: 85px;

}
.bottom-card p{
	margin: 0;
	font-size: 13px;
	line-height: 17px;
	padding-top: 25px;
}

.first-p {
	font-size: 20px;
	color: #fff;
}

.portfolio {
	width: 90%;	
	margin: 0 auto;
	text-align: center;
}

.portfolio h4{
	background-color: #424147;
	display: inline-block;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 21px;
	color: #ffea00;
	padding: 5px 30px;
	margin-bottom: 30px;
}

.portfolio p{
	font-size: 16px;
	line-height: 21px;
	color: #424146;
}

.toggles button {
	border: none;
	color: #424146;
	cursor: pointer;
	font-size: 16px;
	margin: 20px 5px;
}

.posts {
	width: 90%;
	display: flex;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.owl-carousel div{
	display: inline-block;
}


.back {


	background-color: #e3e3e3;

	position: fixed;
	top: 100px;
	left: 20px;
}

.back a {
	color: #000;
	padding: 10px;
}


@media screen and ( max-width: 760px) {
	.header-container{
		width: 100%;
		display: flex;
		justify-content: space-around;
	}
	.main-menu{
		display: none;
	}

	 .main-menu li {
		width: 100%;
		display: block;
		font-size: 12px;
	}
	
	.main-menu a{
		display: block;
		padding: 8px;
	}
	.toggle-button {
		text-align: center;
		display: block;
		cursor: pointer;
		color: #000;
		margin-top: 20px;
		padding-left: 6px;
	}
	.toggle-button:after{
		content: attr(data-open);
		display: block;
	}
	#menu-checkbox:checked + nav[role="navigation"] .main-menu{
		display: block;
	}
	#menu-checkbox:checked + nav[role="navigation"] .toggle-button:after{
		content: attr(data-close);
	}
	.header-container a{
		margin-right: -65px;
	}
	.main-menu{
		position: relative;
	}

	.top-container {
		padding-top: 40px;
	}

	.top-slide {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.top-slide h2 {
		font-size: 34px;
	}

	.top-container p {
		font-size: 16px;
	}

	.specialize-container p {
		font-size: 16px;
	}
	.specialize-cards {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		justify-content: space-between;	
	}


	} 